{% extends 'main/base.html' %} {% block title %}Create a wizyta{% endblock %} 
{% load crispy_forms_tags %} {% block content %}

<form action='' method="post">
  {% csrf_token %}{{form|crispy}}
  <button type="submit" class="btn btn-success">Create post</button>
</form>

{% endblock %}
