{% extends 'main/base.html' %} {% block title %}Create a wizyta{% endblock %} 
{% load crispy_forms_tags %} {% block content %}

<p>czy napewno chcesz usunąć</p>

<form action="{% url 'delete_order'%}" method="post">         #tu coś trzeba dodać
  {% csrf_token %}{{form|crispy}}

  <a href>Cancel</a>
  <input type="submit" name="confirm">
  
</form>

{% endblock %}
