{% extends 'main/base.html' %} {% block title %}Login{% endblock %} {% load crispy_forms_tags %} {% block content %}



<div class="content-section">
  




<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
       
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img class="rounded-circle account-img" src="{{ user.profil.image.url }}" />
            <h5 class="my-3">{{profil.user}}</h5>
            
            <div class="d-flex justify-content-center mb-2">
              
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">wole miejsce</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Imię i nazwisko </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profil.full_name}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Data urodzenia</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profil.date_of_birth}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nr tel</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profil.phone_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">adres</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profil.addres}}</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div>
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">bio </span> informacje o pacjencie
                </p>
                <p class="mb-4" style="font-size: .77rem;">{{profil.bio}}</p>
                
                </div>
              </div>
            </div>
          </div>
          
              
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{%endblock content%}
