{% extends 'main/base.html' %} {% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p>Don't have an account?  <a href="/sign-up">Create one Here</a>!</p>
  <p>Have you <a href="{% url 'reset_password' %}">forgotten your password</a>?</p>
  <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}
