{% extends 'main/base.html' %} {% block title %}Sign Up{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<h1> create lekarz account</h1>
<form method="post">
  {% csrf_token %}
  {{form|crispy}}
  <p>Have an account? Login <a href="/login">Here</a>!</p>
  <button type="submit" class="btn btn-success">Register</button>
</form>
{% endblock %}
